* {
    padding: 0;
    margin: 0;
}
 
.Amatic {
    font-family: 'Amatic SC', cursive;
}

.Underline {
    text-decoration: underline;
}

.Paddingt {
    padding-top: 120px;
}

.text-center {
    text-align: center;
}
/* styles for all regular size screens */
header {
    padding: 20px;
    font-family: 'Amatic SC', cursive;
    background-color: #363232;
}

header h1 {
    font-weight: 400;
    margin: 0;
    color: white;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav a {
    color: white;
}

header nav a:hover {
    color: white;
    text-decoration: underline;
}

header p {
    padding: 0 20px;
    margin: 0;
    font-size: 25px;
}



.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100vw;
    background-image: url('./images/Red_roses.jpg');
    background-size: cover;
    color: #fff;
}

.About {
    height: 430px;
    margin-top: 40px;
    background-color: #363232;
    width: 100%;
    color: white;
}

.About h2 {
    font-size: 50px;
}

.About p {
    font-size: 35px;
}

.Contact {
    height: 430px;
    border: solid 2px blue;

}

.Contact h2 {
    font-size: 50px;
}

form {
    font-size: 20px;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #363232;
    width: 40%;
    text-align: center;
}

input[type=text]:focus {
    outline: none;
}

input[type=submit] {
    background-color: #363232;
    color: white;
    border: 2px solid #363232;
    border-radius: 5px;
}

section .row img {
    margin: 0 0 30px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

footer {
    background-color: #363232;
    color: white;
}

footer p {
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}

footer .col-sm-7 {
    display: flex;
    justify-content: flex-end;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer ul {
    list-style: none;
    font-size: 25px;
}

footer li {
    margin: 15px;
}


/* styles for Bluehydrangea.html */
.info-div {
    height: 1100px;
    margin-top: 50px;
    
}

.flex-container {
    display: flex;
}

.flower-image {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 500px;

}

.flower-image img {
    object-fit: cover;
    width: 650px;
    height: 450px;
    padding-top: 30px;
   

}

.flower-desc {
    width: 40%;
    height: auto;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}

.flower-desc p {
    padding-top: 30px;
}

#table-container {
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}


#table-container table {
    border: solid #363232  1px;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
   

}



th {
    background-color: #363232;
    color: white;
    text-align: center;
    text-decoration: underline;
}

td {
    text-align: center;
    border-bottom: #363232 1px solid;
}


/* styles for all mobile devices */

@media only screen and (max-width: 740px) {

	.About h2 {
        font-size: 40px;
    }

    .About p {
        font-size: 25px;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 640px) {

	.About h2 {
        font-size: 40px;
    }

    .About p {
        font-size: 25px;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 570px) {

	.Paddingt {
        padding-top: 15px;
    }

	.Contact {
        height: 470px;
    }

    .Contact h2 {
        font-size: 40px;
    }

    footer .col-sm-7 {
    	justify-content: center;
    }
}

@media only screen and (max-width: 480px) {

    .Paddingt {
        padding-top: 15px;
    }

    .About h2 {
        font-size: 40px;
    }

    .About p {
        font-size: 25px;
        padding-top: 10px;
    }

    .Contact {
        height: 470px;
    }

    .Contact h2 {
        font-size: 40px;
    }

    footer .col-sm-7 {
    	justify-content: center;
    }
}